<div class="navbar-collapse collapse" id="custom-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="/notifications" title="Notifications"><i class="fa fa-lg fa-bell-o"></i></a>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="fa fa-lg fa-smile-o"></i> &nbsp; <i class="fa fa-lg fa-caret-down"></i>
      </a>
      
      <ul class="dropdown-menu" role="menu">
        <li><a href="/" target="_self" title="Home"><i class="fa fa-home"></i> &nbsp; Home</a></li>
        <li class="divider"></li>
        <li><a href="/setup/new_repo" title="New Repository"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> &nbsp; New Repository</a></li>
        <!--
        <li><a href="/setup/new_org" title="New Organization"><i class="fa fa-institution"></i> &nbsp; New Organization</a></li>
        -->
        <li class="divider"></li>
        <li><a href="/account/profile" title="Profile"><i class="fa fa-user"></i> &nbsp; Profile</a></li>
        <li><a href="/account/settings" title="Settings"><i class="fa fa-cog"></i> &nbsp; Settings</a></li>
        <li><a href="/account/logout" title="Sign Out"><i class="fa fa-sign-out"></i> &nbsp; Sign Out</a></li>
      </ul>
    </li>     
  </ul>
</div>